<h2>Update Member Details</h2>

<br>
<form method="post" action="/members/<%= @member.id %>">

  <b><label for="first_name">First Name:</label></b>
  <input
  type="text"
  name="first_name"
  id="first_name"
  value="<%= @member.first_name %>"
  />

  <b><label for="last_name">Last Name:</label></b>
  <input
  type="text"
  name="last_name"
  id="last_name"
  value="<%= @member.last_name %>"
  />

  <label for="membership">Membership:</label></b>
  <select id= "membership" name="membership">

    <% @types.each do |membership| %>
    <option value="<%= membership %>" <%= 'selected' if @member.membership == membership %>><%= membership %></option>
    <% end %>

  </select>

  <input type='submit' value="Update "/>
</form>
