<html>
<body>
  <center>

<p> Class Created </p>
<hr>
<p><%= @activity.session %></p>
<p><%= @activity.spaces %></p>
<p><%= @activity.description %></p>
<p><%= @activity.time_of_day %></p>
<p><%= @activity.duration %></p>
<br>
<p><%= Time.now() %></p>

<hr>

</center>
</body>
</html>
