
<html>

<center
><h2> Classes  </h2>
<hr>
<p><%= @activity.session %></p>
<p><%= @activity.spaces %></p>
<p><%= @activity.description %></p>
<p><%= @activity.time_of_day %></p>
<p><%= @activity.duration %></p>
<br>

<b><form method="get" action="/activities/<%= @activity.id %>/edit">
  <p><input type='submit' value="Update Class Details"/></p>
</form></b>

<form method="post" action="/activities/<%= @activity.id %>/delete">
  <b>  <input type="submit" value="Delete"/></b>
</form>


</center>
</html>
