<h2>Bookings</h2>

<a href="/bookings/new">Create Booking</a>
<br>
<% for booking in @bookings %>
<br>
<%= Activity.find(booking.activities_id).session %>
<br>
<%= Activity.find(booking.activities_id).time_of_day %>
<br>
<%= Activity.find(booking.activities_id).description %>
<br>
<%= Member.find(booking.members_id).first_name %>
<br>
<%= Member.find(booking.members_id).last_name %>
<br>
<%= Member.find(booking.members_id).membership %>

<% end %>
