<html>
<body>
  <center>

    <p> Class Created </p>
    <hr><center><table class="alt">
      <tr>
        <th> Activity: </th>
        <th> Spaces: </th>
        <th> Description: </th>
        <th> Time: </th>
        <th> Instructor: </th></tr>
        <tr>
          <td><%= @activity.session %></td>
          <td><%= @activity.spaces %></td>
          <td><%= @activity.description %></td>
          <td><%= @activity.time_of_day %></td>
          <br><td> <%= @instructor %> <td>
          </tr>



          <hr>
        </table>
      </center>
    </body>
    </html>
