<h3>Activites </h3>
<br><br>
<center><a href='/activities/new'>Add Classes</a></center>
<hr>
<center><table class="alt">
  <tr>
    <th> Activity: </th>
    <th> Description </th>
    <th> Instructor: </th>
    <th> Time: </th>
    <th> Spaces: </th>
    <th> Duration: </th>
  </tr>

  <% @activities.each do |activity| %>
  <tr>
    <td><%= activity.session %></td>
    <td><%= activity.description %>
      <td><%= activity.instructor %></td>
      <td><%= activity.time_of_day %></td>
      <td><%= activity.spaces %></td>
      <td><%= activity.duration %></td>
      <td><a href="/activities/<%= activity.id %>/edit">Update</a></td>
      
      <td> <a href="/activities/<%= activity.id %>/show">Show</a></td>
      <td><form method="post action="/activities/<%= activity.id %>/delete" method="POST">
        <input type="submit" value="delete" />
      </form></td>
    </tr>


    <% end %>
  </table></center>
  <hr/>

  </html>
