<html>

<center>
  <h2> Classes  </h2>
  <hr>
  <table class="alt">
    <tr>
      <th> Activity: </th>
      <th> Spaces: </th>
      <th> Description: </th>
      <th> Time: </th>
      <th> Instructor: </th>
      <th> Duration: </th>
    </tr>
    <tr>
      <td><%= @activity.session %></td>
      <td><%= @activity.spaces %></td>
      <td><%= @activity.description %></td>
      <td><%= @activity.time_of_day %></td>
      <td><%= @activity.instructor %></td>
      <td><%= @activity.duration %></td>

      <td<%= @temp %></td>

      <td><%= @instructor %> </td>

    </tr></table><br><br>
     <center><h2> Member  </h2></center>
    <center>
      <% @activity.members.each do |member| %>
      <table class="alt">
        <tr>
          <th> First Name: </th>
          <th> Last Name: </th>
        </tr>
        <td><%= member.first_name %> </td> <td><%= member.last_name %></td>
        <% end %>
      </table>
      <br>
<%= @temp %>
      <b><form method="get" action="/activities/<%= @activity.id %>/edit">
        <p><input type='submit' value="Update Class Details"/></p>
      </form></b>

      <form method="post" action="/activities/<%= @activity.id %>/delete">
        <b>  <input type="submit" value="Delete"/></b>
      </form>



      </html>
