<html>

<body>
<center>
<h2> Classes  </h2>
<hr>
<p><%= @activity.session %></p>
<p><%= @activity.spaces %></p>
<p><%= @activity.description %></p>
<p><%= @activity.time_of_day %></p>
<p><%= @activity.duration %></p>
<br>

<center><h3>
  <% @activity.members.each do |member| %>
  <%= member.first_name %> <%= member.last_name %>
  <%= member.id %>

</h3>
<% end %>
</center>
<br>

</center>
</body>
</html>
