<center><h2> Movies listed: </h2>

<p>Title: <%= @film.title %></p>
<p>Price: <%= @film.price %></p>
<p>Screening: <%= @film.times %></p>


<b><form method="get" action="/films/<%= @film.id %>/edit">
  <p><input type='submit' value="Update Film Details"/></p>
</form></b>

<form method="post" action="/films/<%= @film.id %>/delete">
<b>  <input type="submit" value="Delete"/></b>
</form>


</center>
